<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html>

{% extends "header.html" %}
{% block title %}Pyum{% endblock %}
{% block content %}
    <head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href='{% static "app/css/templatemo_style.css" %}'>
        <title>Pyum</title>
    </head>
    <body>


<div id="templatemo_main" style="">
    <div class="content_wrapper" style="min-width: 640px; min-height: 400px">
        <div id = "input_form" style ="width: 650px; min-width: 640px">
        <h1 style="margin-top: 10px">Register with Pyum</h1>



        {% if registered %}
            <strong>thank you for registering!</strong>
            <a href="/pyum/login">Click here to login.</a><br/>
        {% else %}
            <form id="user_form" method="post" action="/app/register/"
                  enctype="multipart/form-data">

                {% csrf_token %}
                {{ user_form.as_p }}
                <label for = "password_confirm">Confirm Password: </label>
                <input type = "password" id="password_confirm" name="password_confirm"/>
                {{ profile_form.as_p }}

                <!-- Provide a button to click to submit the form. -->
                <input type="submit" name="submit" value="Register"/>
            </form>
        {% endif %}
        </div>
    </div>
    <div class="clear"></div>
</div>
<script type="text/javascript" src='{% static "app/js/jquery-1.3.2.min.js" %}'></script>
<script type = 'text/javascript' src='{% static "app/js/jquery.validate.js" %}'></script>
<script type = 'text/javascript'>
    jQuery.validator.addMethod("password_check",
            function(value, element) {
                var password = $("#id_password").val();
                var confirmPassword = $("#password_confirm").val();
                console.log(password, "    ", confirmPassword);
                return  (password !== "" && confirmPassword !== "") && password === confirmPassword;
            },
            "Please enter matching passwords");

    $("#user_form").validate({
        rules: {
            username:{
                required: true
            },
            email: {
                required: true,
                email: true
            },
            password:{
                password_check: true
            },
            password_confirm: {
                password_check: true
            },
            age: {
                required: true,
                number: true
            },
            height: {
                required: true,
                number: true
            }
        }});
</script>
</body>
{% endblock %}
</html>